<h1>REGISTER</h1>
<form action="/register" method="POST">
    <h6>USERNAME:</h6>
    <input type="text" name="username" placeholder="UserName">
    <h6>PASSWORD:</h6>
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>